body {
  font-family: 'Inknut Antiqua', serif;
  font-weight: 400;
  background-image: url(/img/201154.png);
  background-size: cover;
  background-repeat: no-repeat;
}
img {
  max-width: 100%;
  object-fit: cover;
}

.main__form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 135px;
  margin-bottom: 135px;
  width: 410px;
  height: 590px;
  background-color: rgb(0, 0, 0);
  opacity: 0.58;
}
.main__form-inner {
  position: relative;
  margin-top: -53px;
}
body > main > div > div > a > img {
  width: 300px;
  margin: 0 auto;
  display: flex;
  margin-top: 60px;
}

.help-block {
  color: red;
}

.main__form-logo {
  cursor: pointer;
}

.heading__text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 15px;
}
.heading__text-inner {
  background-repeat: no-repeat;
  text-align: center;
}
.heading__text-title {
  font-size: 16px;
  line-height: 18px;
  margin-top: 10px;
  margin-bottom: 0;
  color:#fff;
  text-align: center;
}
.heading__text-title:before {
  content: '';
  background-image: url("/img/form-line.png");
  display: block;
  height: 3px;
  width: 400px;
  margin-left: 10px;
  margin-bottom: 5px;
  background-repeat: no-repeat;
  background-size: contain;
}
.heading__text-title:after {
  content: '';
  background-image: url("/img/form-line.png");
  display: block;
  height: 3px;
  width: 400px;
  margin-left: 10px;
  margin-top: 5px;
  background-repeat: no-repeat;
  background-size: contain;
}

.registration {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 10px;
}
.registration__form {
  margin-left: 16px;
}
.registration__form-email {
  min-width: 350px;
  height: 44px;
  padding-left: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(130, 118, 137);
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}
.registration__form-email::placeholder {
  font-size: 14px;
  font-family: "Arial";
  padding-left: 10px;
  line-height: 18px;
  text-align: left;
  color: rgb(97, 97, 97);
}
.registration__form-email:active {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(255, 204, 0);
}
.experience {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 20px;
}
.experience__item-text {
  font-size: 14px;
  font-family: "Arial";
  line-height: 1.2;
  margin-right: 15px;
  text-align: left;
  color: #fff;
}
.form_radio {
  margin-left: -5px;
}
.form_radio_btn {
	display: inline-block;
	margin-right: 3px;
}
.form_radio_btn input[type=radio] {
	display: none;
}
.form_radio_btn label {
	max-width: 50px;
  border-style: solid;
  border-width: 1px;
  padding: 0 5px;
  border-color: rgb(130, 118, 137);
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.502);
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  white-space: nowrap;
  cursor: pointer;
}

.form_radio_btn label:hover {
  border-color: rgb(255, 204, 0);
  background-color:  #001834;
  color: rgb(255, 204, 0);
}
.form_radio_btn input[type=radio]:checked + label {
  border-color: rgb(255, 204, 0);
  background-color:  #001834;
  color: rgb(255, 204, 0);
}
.form__textarea{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-left: -25px;
}

textarea {
  width: 350px;
  padding-left: 10px;
  padding-top: 10px;
  background: rgba(0, 0, 0, 0.502);
  border-color: rgb(130, 118, 137);
  border-radius: 3px;
  color: #616161;
}
.form__textarea-text {
  font-size: 16px;
  font-family: "Arial";
  line-height: 1.2;
  color: rgb(97, 97, 97);
}

textarea:active {
  border-color: rgb(255, 204, 0);
}
.form__textarea-submit {
  max-width: 368px;
  width: 100%;
  height: 58px;
  font-size: 18px;
  line-height: 18px;
  margin-top: 10px;
  text-align: center;
  text-transform: uppercase;
  background: #141d34;
  color: #fff;
  text-shadow: 0px 0px 6.51px rgba(0, 0, 0, 0.004);
  cursor: pointer;
}
.form__textarea-submit:hover {
  background: #442684;
}


.footer {
  background-color: rgb(0, 0, 0);
  opacity: 0.388;
  max-width: 1976px;
  height: auto;
  padding-top: 5px;
  padding-bottom: 20px;
}

.footer__inner {
  display: flex;
  align-items:center;
  justify-content: center;
}
.footer__logo {
  margin-right: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}
.footer__link {
  display: block;
  font-size: 18px;
  color: rgb(255, 255, 255);
  line-height: 1.611;
  text-align: center;
}
.footer__copyright-text {
  max-width: 540px;
  font-size: 14px;
  font-family: "Arial";
  line-height: 1.2;
  text-align: left;
  color: #fff;
}

/*Адаптив*/
@media(max-width: 460px) {
  .main__form {
    margin-top: 0;
    margin-bottom: 0;
  }
  .footer {
    padding-top: 5px;
    padding-bottom: 20px;
  }
  .footer__copyright-text {
    font-size: 12px;
    padding-right: 20px;
    }
  .footer__logo {
    margin-right: 14px;
    padding-left: 10px;
    }
  }
  @media(max-width: 400px) {
    .registration__form-email {
      min-width: 310px;
      margin-left: 33px;
    }
    .experience {
      flex-direction: column;
      margin-bottom: 30px;
    }
    .experience__item-text {
      margin-bottom: 20px;
    }
    textarea {
      max-width: 310px;
      width: 100%;
    }
    .form__textarea {
      margin-left: 0;
    }
    .form__textarea-text {
      font-size: 14px;
    }
    .form__textarea-submit {
      max-width: 325px;
      width: 100%;
      height: 40px;
      font-size: 16px;
      margin-top: 15px;
    }
    .footer {
      width: 410px;
    }
  }
  