body {
  font-family: 'Inknut Antiqua', serif;
  font-weight: 400;
  background-image: url('/img/201154.png');
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x:hidden;
}
img {
  max-width: 100%;
  object-fit: cover;
}

.main__form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 135px;
  margin-bottom: 135px;
  width: 410px;
  height: 59пше0px;
  background-color: rgb(0, 0, 0);
  opacity: 0.58;
}
.main__form-inner {
  position: relative;
  margin-top: -103px;
}
body > main > div > div > a > img {
  width: 300px;
  margin: 0 auto;
  display: flex;
  margin-top: 60px;
}
.main__form-logo {
  display: block;
  cursor: pointer;
  margin: 0 20px;
  margin-top: 100px;
}

.heading__text-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.heading__text-title {
  max-width: 327px;
  font-size: 18px;
  font-family: "Myriad Pro";
  line-height: 1.2;
  margin-bottom: 0;
  text-align: center; 
  color: rgb(187, 226, 161);
}
.heading__text-title:before {
  content: '';
  background-image: url("/img/form-line.png");
  display: block;
  height: 2px;
  max-width: 500px;
  margin-bottom: 5px;
  background-repeat: no-repeat;
  background-size: contain;
}
.heading__text-descr {
  max-width: 327px;
  font-size: 16px;
  line-height: 1.2;
  margin-top: -25px;
  text-align: center; 
  color: #fff;
}

body > main > div > div > section > div > p:nth-child(3):after {
  content: '';
  background-image: url("/img/form-line.png");
  display: block;
  height: 2px;
  max-width: 500px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 10px;
}
body > main > div > div > section > div > p:nth-child(2) {
  margin-top: 0;
  margin-bottom: 24px;
}
.heading__text-info {
  max-width: 327px;
  font-size: 16px;
  line-height: 1.2;
  text-align: center; 
  color: #fff;
}

.social {
  display: flex;
  align-items:center;
  justify-content: center;
  flex-wrap: wrap;
}
.social__links {
  display: flex;
  align-items: center;
}
.social__vk,
.social__discord {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.social__vk {
  min-width: 100px;
  height: 35px;
  margin-right: 5px;
  background: linear-gradient( 0deg, rgb(21, 30, 52) 0%, rgb(32, 86,154) 100%);
  border-bottom-left-radius: 100px;
}
.social__vk:hover {
  background :rgb(32, 86,154);
}
.social__link-vk {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding-right: 5px;
  padding-left: 20px;
  color: #fff;
  text-shadow: 0px 0px 6.51px rgba(0, 0, 0, 0.004);
  text-transform: uppercase;
}
.social__discord {
  min-width: 100px;
  position: relative;
  height: 35px;
  padding-right: 20px;
  background: linear-gradient( 0deg, rgb(80, 92, 186) 0%, rgb(25, 29, 52) 100%);
  border-bottom-right-radius: 100px;
}
.social__discord:hover {
  background: rgb(94, 111, 216);
}
.social__discord-img {
  padding-left: 10px;
}
.social__link-discord {
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  padding-left: 5px;
  color: #fff;
  text-shadow: 0px 0px 6.51px rgba(0, 0, 0, 0.004);
  text-transform: uppercase;
}


.footer {
  background-color: rgb(0, 0, 0);
  opacity: 0.388;
  max-width: 1976px;
  height: auto;
  padding-top: 5px;
  padding-bottom: 20px;
}

.footer__inner {
  display: flex;
  align-items:center;
  justify-content: center;
}
.footer__logo {
  margin-right: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}
.footer__link {
  display: block;
  font-size: 18px;
  color: rgb(255, 255, 255);
  line-height: 1.611;
  text-align: center;
}
.footer__copyright-text {
  max-width: 540px;
  font-size: 14px;
  font-family: "Arial";
  line-height: 1.2;
  text-align: left;
  color: #fff;
}

/*Адаптив*/

@media(max-width: 460px) {
  .main__form {
    margin-top: 0;
    margin-bottom: 0;
  }
  .footer {
    padding-top: 5px;
    padding-bottom: 20px;
  }

  .footer__copyright-text {
    font-size: 12px;
    padding-right: 20px;
    }
  .footer__logo {
    margin-right: 14px;
    padding-left: 10px;
    }
}

@media(max-width: 400px) {
  .footer {
    width: 410px;
    height: 160px;
  }
}