
body {
  font-family: 'Inknut Antiqua', serif;
  font-weight: 400;
  background-image: url("/img/201154.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}
img {
  max-width: 100%;
  object-fit: cover;
}
.main__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 10px;
}
.main__logo-img {
  width: 400px;
  margin: 0 auto;
  display: flex;
  position: relative;
  top: 130px;
}
.main__text {
  position: relative;
  top: 150px;
}
.main__title {
  font-size: 50px;
  position: relative;
  padding-top: 15px;
  max-width: 1976px;
  height: 50px;
  background-color: rgb(0, 0, 0);
  opacity: 0.388;
  color: #fff;
  line-height: 0.773;
  text-align: center;
  text-shadow: 0px 0px 6.51px rgba(0, 0, 0, 0.004);
}
.main__suptitle {
  position: absolute;
  font-size: 14px;
  line-height: 3.444;
  text-align: center;
  text-shadow: 0px 0px 6.51px rgba(0, 0, 0, 0.004);
  color: #fff;
}
.participate {
  position: relative;
  top: 200px;
}
.participate__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 20px;
  background-image: url("/img/line.png");
  background-repeat: no-repeat;
  max-width: 649px;
  width: 100%;
  height: 133px;
}
.participate__inner:hover {
  background-image: url("/img/hover.png");
  background-repeat: no-repeat;
  background-position: cover;
  width: 649px;
  height: 133px;
}
.participate__title {
  font-size: 36px;
  line-height: 30px;
  max-width: 649px;
  width: 100%;
  min-height: 133px;
  padding-top: 50px;
  margin-top: 80px;
  background: url("/img/bokeh-blurry.png"),
              url("/img/diagonal-stripes.png");
  background-repeat: no-repeat;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0px 0px 5.74px rgba(0, 0, 0, 0.004);
}
.participate__title:hover {
  color: rgb(179, 149, 149);
}

.social {
  display: flex;
  position: relative;
  top: 230px;
  align-items:center;
  justify-content: center;
}
.social__links {
  display: flex;
  align-items: center;
}
.social__vk,
.social__discord {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.social__vk {
  min-width: 200px;
  height: 55px;
  margin-right: 10px;
  background: linear-gradient( 0deg, rgb(21, 30, 52) 0%, rgb(32, 86,154) 100%);
  border-bottom-left-radius: 100px;
}
.social__vk:hover {
  background :rgb(32, 86,154);
}
.social__link-vk {
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  padding-right: 5px;
  padding-left: 40px;
  color: #fff;
  text-shadow: 0px 0px 6.51px rgba(0, 0, 0, 0.004);
  text-transform: uppercase;
}
.social__discord {
  min-width: 200px;
  position: relative;
  height: 55px;
  background: linear-gradient( 0deg, rgb(80, 92, 186) 0%, rgb(25, 29, 52) 100%);
  border-bottom-right-radius: 100px;
}
.social__discord:hover {
  background: rgb(94, 111, 216);
}
.social__discord-img {
  padding-left: 10px;
}
.social__link-discord {
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  padding-left: 5px;
  color: #fff;
  text-shadow: 0px 0px 6.51px rgba(0, 0, 0, 0.004);
  text-transform: uppercase;
}

.footer {
  background-color: rgb(0, 0, 0);
  opacity: 0.388;
  max-width: 1976px;
  height: auto;
  margin-top: 270px;
  padding-top: 5px;
  padding-bottom: 0;
}

.footer__inner {
  display: flex;
  align-items:center;
  justify-content: center;
}
.footer__logo {
  margin-right: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}
.footer__link {
  display: block;
  font-size: 18px;
  color: rgb(255, 255, 255);
  line-height: 1.611;
  text-align: center;
}
.footer__copyright-text {
  max-width: 540px;
  font-size: 14px;
  font-family: "Arial";
  line-height: 1.2;
  text-align: left;
  color: #fff;
}

/*Адаптив*/
@media(max-width: 1000px) {
  .main__logo-img {
    margin-top: 50px;
    margin-bottom: 20px;
  }
  .main__title {
    font-size: 50px;
    height: 75px;
    margin-bottom: 0;
    margin-top: 0;
  }
}
@media(max-width: 768px) {
  .main__form {
    margin-top: 50px;
    margin-bottom: 20px;
  }
}
@media(max-width: 568px) {
  .main__title {
    font-size: 36px;
    line-height: 30px;
    height: 48px;
}
  .participate__title {
    font-size: 28px;
    line-height: 20px;
  }
}
@media(max-width: 450px) {
  .main__title {
    font-size: 28px;
    line-height: 24px;
    height: 39px;
  }
  .participate__title {
    font-size: 25px;
    line-height: 20px;
  }
  .social__vk {
    min-width: 170px;
    width:100%;
  }
  .social__discord {
    min-width: 170px;
    width:100%;
  }
  .social__link-vk {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    padding-right: 5px;
    padding-left: 34px;
  }
  .social__link-discord {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    padding-right: 5px;
  }
  .footer__copyright-text {
    font-size: 12px;
    padding-right: 10px;
  }
  .footer__logo {
    margin-right: 14px;
    padding-left: 10px;
  }
}
